@import "tailwindcss";


.grid-bg {
  background-image: 
    linear-gradient(to right, rgba(255,255,255,0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255,255,255,0.03) 1px, transparent 1px);
  background-size: 20px 20px;
}



/* Add to your globals.css */
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
  border-radius: 0.5rem;
}

code.hljs {
  padding: 3px 5px;
  border-radius: 4px;
}

.hljs {
  background: #1e293b;
  color: #f8fafc;
}

/* Theme colors */
.hljs-keyword,
.hljs-built_in {
  color: #7dd3fc; /* light blue */
}

.hljs-type {
  color: #fca5a5; /* light red */
}

.hljs-literal {
  color: #86efac; /* light green */
}

.hljs-number {
  color: #fcd34d; /* yellow */
}

.hljs-string {
  color: #86efac; /* light green */
}

.hljs-comment {
  color: #94a3b8; /* gray */
  font-style: italic;
}

.hljs-title {
  color: #7dd3fc; /* light blue */
}